.background_image {
    background-image: url(./images/img1.jpg);
    background-position: 80% 100%;
    background-size: cover;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

::-webkit-scrollbar{
    display: none;
}